version: '3.3'
services:
  rabbitmq:
    image: rabbitmq:3.8
    healthcheck:
      test: /opt/rabbitmq/sbin/rabbitmqctl node_health_check
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - 5672
      - 15672
