name: Testing
on:
  push:
    branches: ["*"]
    paths-ignore:
      - 'docs/**'
      - 'setup.*'
      - '*.md'
      - '*.rst'
    tags-ignore: ["*"]
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    services:
      rabbitmq:
        image: rabbitmq:3.8
        options: >-
          --health-cmd "/opt/rabbitmq/sbin/rabbitmqctl node_health_check"
          --health-interval 10s
          --health-timeout 10s
          --health-retries 5
        ports:
          - 5672
          - 15672
    strategy:
      matrix:
        python: [3.7, 3.8]
    container:
      image: python:${{ matrix.python }}-alpine
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Install OS dependencies
        run: apk --update add gcc make musl-dev linux-headers

      - name: Install testing dependencies
        run: pip3 --no-cache-dir install -e '.[test]'

      - name: Create build directory
        run: mkdir build

      - name: Create build/test-environment
        run: |
          echo "export RABBITMQ_URI=amqp://guest:guest@rabbitmq:${{ job.services.rabbitmq.ports['5672'] }}/%2f" > build/test-environment

      - name: Cat build/test-environment
        run: cat build/test-environment

      - name: Show environment variables
        run: set

      - name: Run flake8 tests
        run: flake8 --output build/flake8.txt --tee

      - name: Run tests
        run: nosetests

      - name: Upload Coverage
        uses: codecov/codecov-action@v1.0.2
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: build/coverage.xml
          flags: unittests
          fail_ci_if_error: true
